doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com") 
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin) 
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap",rel="stylesheet")
        link(rel="stylesheet", href="css/main.css")
        title Beauty Chairs
    body
        header.header
            nav.menu-top
                .content-zone
                    .menu-top__wrapper
                        ul.menu-top__list 
                            li.menu-top__item 
                                a.menu-top__link(href="#") Доставка
                            li.menu-top__item 
                                a.menu-top__link(href="#") Оплата
                            li.menu-top__item 
                                a.menu-top__link(href="#") Отзывы
                            li.menu-top__item 
                                a.menu-top__link(href="#") Вопрос-ответ
                            li.menu-top__item 
                                a.menu-top__link(href="#") Контакты 
            .main-header
                .content-zone
                    .main-header__wrapper
                        .main-header__logo
                            a(href="#") 
                                img(src="./img/logo.svg", alt="Beaty Logotype")
                        .main-header__contacts 
                            a.main-header__phone(href="tel:+78121234567") 8 (812) 123-45-67
                            button.btn.btn--light.btn--wide.btn--large Обратный звонок 
            nav.catalog-menu
                .content-zone
                    .catalog-menu__wrapper 
                        ul.catalog-menu__list 
                                li.catalog-menu__item 
                                    a.catalog-menu__link(href="#") Парикмахерская
                                li.catalog-menu__item 
                                    a.catalog-menu__link(href="#") Барбершоп
                                li.catalog-menu__item 
                                    a.catalog-menu__link(href="#") Маникюр
                                li.catalog-menu__item 
                                    a.catalog-menu__link(href="#") Педикюр
                                li.catalog-menu__item 
                                    a.catalog-menu__link(href="#") Массаж
                                li.catalog-menu__item 
                                    a.catalog-menu__link(href="#") Мебель 
        section.hero
            .content-zone
                .hero__wrapper
                    .hero__content 
                        h1.hero__title Супер кресло
                        p.hero__description Текст акции всегда отражает суть, а не просто болтовню, поэтому внимательнее
                        button.btn.btn--transparent.btn--wide.btn--large Подробнее
                    .hero__image
                        img(src="/img/superchair.png", alt="Суперкресло")
        section.offers 
        section.banners 
        section.footer 