* {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

svg {
  display: block;
}

button {
  border-radius: 0;
  border-style: none;
  cursor: pointer;
}

body {
  background-color: #ffffff;
}

.content-zone {
  width: 1110px;
  margin: 0 auto;
  padding: 0 40px;
  min-width: 1110px;
}

.catalog-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.catalog-menu__item {
  font-family: "Roboto", sans-serif, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #000000;
}

.catalog-menu__link {
  display: block;
  padding: 30px 0;
}

.catalog-menu__link:hover {
  color: #66c05d;
}

.main-header {
  border-bottom: 1px solid #efefef;
}

.main-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px 0;
}

.main-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header__phone {
  font-family: "Roboto", sans-serif, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #000000;
}

.main-header__phone:hover {
  color: #66c05d;
}

.main-header__logo img {
  display: block;
}

.menu-top {
  background-color: #efefef;
}

.menu-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu-top__item {
  font-family: "Roboto", sans-serif, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  color: #333333;
}

.menu-top__link {
  display: block;
  padding: 17px 0;
}

.menu-top__link:hover {
  color: #66c05d;
}

.btn {
  font-family: "Roboto", sans-serif, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0;
  border-radius: 40px;
}

.btn--large {
  padding-top: 10px;
  padding-bottom: 9px;
}

.btn--small {
  padding-top: 7px;
  padding-bottom: 7px;
}

.btn--narrow {
  width: 120px;
}

.btn--wide {
  width: 170px;
}

.btn--light {
  border: 2px solid #66c05d;
  background-color: #ffffff;
  color: #000000;
}

.btn--light:hover {
  background-color: #66c05d;
  color: #ffffff;
}

.btn--dark {
  border: 2px solid #66c05d;
  background-color: #66c05d;
  color: #ffffff;
}

.btn--dark:hover {
  background-color: #4ba842;
  border: 2px solid #4ba842;
}

.btn--transparent {
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.btn--transparent:hover {
  background-color: #ffffff;
  color: #66c05d;
}

.btn--spaced {
  letter-spacing: 0.05em;
}

@supports (-webkit-appearance:none) {

}