.hero {
    display: flow-root;
    background-color: $color_main;
    background-image: url("../img/background_hero.svg");
    background-repeat: no-repeat;
    background-position: 71.2% 46%;
    height: 604px;

    &__wrapper {
        @include setFlexWithGap(150px);
        @include setFlexCenteredRow;
    }

    &__content {
        width: 308px;
    }

    &__title {
        @include setFont(600, 48px, 56px);
        color: $color_white;
        margin-bottom: 38px;
    }

    &__description {
        @include setFont(400, 14px, 20px);
        color: $color_white;
        margin-bottom: 45px;
    }

    &__image {
        img {
            height: 604px;
        }
    }
}
