.offers {
    display: flow-root;
    background-color: $color_gray_ultralight;
    border-top: 1px solid $color_white;

    &__wrapper {
        @include setFlexCenteredRow;
        margin: 78px 0 50px;
    }

    &__items-list {
        @include setFlexSpaceBetween;
        margin-top: 36px;
    }
}
