@mixin setFont($fontWeight, $fontSize, $lineHeight, $letterSpacing: 0) {
    font-family: "Roboto", sans-serif, sans-serif;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}

// Flex

@mixin setFlexWithGap($gap: initial) {
    display: flex;
    justify-content: flex-start;
    gap: $gap;
}

@mixin setFlexCenteredColumnWithGap($gap: initial) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap;
}

@mixin setFlexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

@mixin setFlexCenteredRow {
    align-items: center;
}

@mixin setFlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin setFlexButton($padV, $padH) {
    display: inline-flex;
    padding: $padV $padH;
}
